@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="logo">
    <img src="/Content/Images/logo.png">
    <h2>Update Employee Contact Information</h2>
</div>

<div>
    <a href="/GetEmployeeDetails">Update Employee Contact Information</a>
</div>