@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .d-flex {display:flex;}
    .d-flex.all-center {align-items: center; justify-content: center;}
    .custom-height {height:calc(100vh - 300px)}
    .call2action {padding:1em; border:1px solid #59f; display:flex; align-items:center; width:15em; font-size:1.75rem; justify-content:center;}
    .call2action:hover {text-decoration:none; box-shadow:0 0 10px 0 rgba(0,0,0,0.25)}
    .call2action i, .call2action span {width:50%;}
    .call2action i {font-size:4em; padding:1.5rem 2rem;}
</style>

<div id="logo">
    <img src="/Content/Images/logo.png">
    <h2>Home</h2>
</div>

<div class="d-flex all-center custom-height">
    <div>
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-phone"></i>
            <span>Update Employee Contact Information</span>
        </a>
    </div>
    <div>
        <span style="color:red"> @ViewBag.Autherize </span>
    </div>

</div>

